<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes List</title>
    <!-- Bootstrap CSS via CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <button onclick="window.location.href='/'">Go Home</button>
    <h1></h1>
    <form id="startQuiz">
        <label for="quiz_name">Please enter the name of the quiz, you want to start:</label>
        <input type="text" id="quiz_name" name="quiz_name" required>
        <button type="button" id="startQuizButton">Start quiz</button>
    </form>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Quizzes List</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                  <th>
                      <a href="?sort_by=name&order={{ 'asc' if sort_by != 'name' or order == 'desc' else 'desc' }}">
                        Name
                      </a>
                  </th>
                  <th>
                      <a href="?sort_by=author&order={{ 'asc' if sort_by != 'author' or order == 'desc' else 'desc' }}">
                        Author
                      </a>
                  </th>
                  <th>
                      Questions list
                  </th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                <tr>
                  <td>{{ quiz.name }}</td>
                  <td>{{ quiz.author }}</td>
                  <td>
                      {% if quiz.questions %}
                          <ul>
                              {% for item in quiz.questions %}
                              <li>{{ item.name }}</li>
                              {% endfor %}
                          </ul>
                      {% else %}
                          <em>No additional info</em>
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    document.getElementById("startQuizButton").addEventListener("click", function(event) {
        event.preventDefault();

        const quiz_name = document.getElementById("quiz_name").value.trim();

        if (!quiz_name) {
            alert("Please enter a quiz name!");
            return;
        }

        window.location.href = `/game?quiz_name=${quiz_name}`;
    });
    </script>
</body>
</html>
